{%  extends "::base.html.twig" %}
{% block dashboard %}
{% endblock %}
{% block content %}
<br><br><br><br><br><br>
<div class="alert alert-success center span8">
    
    <strong>Success!</strong> <br><br>
    <strong>Message:</strong>{{message}}
</div>
<br>
<br><br><br><br><br><br>


{% endblock %}