<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Volma Registration</title>
</head>

<body>
<table width="600px" border="0" align="center" cellpadding="0" cellspacing="0">
  
  <tr>
    <td align="center" valign="top" bgcolor="#f1f69d" style="background-color:#f1f69d; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; padding:10px;"><table width="400px" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
        <tr>
          <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#525252;">
          
          <div style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:56px; color:#478730;">Volma System | <span style="color:red;">Moraspirit</span></div>
          <img src="http://www.pixelzexplorer.org/Moraspirit/web/bundles/moraspiritstyle/img/msplogo.png" width="200" height="200" align="right" style="margin-left:10px;">
		  <div style="font-size:28px;"><br>
            Hi {{name}}! <br> You have a new Task to complete</div>
            <div> <br><br><br><br>
                                Please click the following link for more details: <br><a href="{{link}}">Click Here</a>
              <br><br>
           </div></td>
        </tr>
      </table></td>
  </tr>
 
</table>
</body>
</html>
