{%  extends "::base.html.twig" %}

{% block dashboard %}
{% endblock %}
{% block content %}
<br><br><br><br><br><br>
<div class="alert alert-success center span8">
    
    <h3 style="color: green">Confirmation Successful!</h3> <br><h6> you have successfully created an account to your email!</h6> <br>
    <a href="{{path('ridwan_site_home')}}"> Click to Continue </a>
</div>
<br>
<br><br><br><br><br><br>


{% endblock %}