{%  extends "::base.html.twig" %}
{% block dashboard %}
{% endblock %}
{% block content %}
<br><br><br><br><br><br>
<div class="alert alert-error center span8">

    <h3 style="color: darkred"> <strong>Error</strong></h3> <br><h6>Email already sent. Please check your email</h6>
</div>
<br>
<br><br><br><br><br><br>


{% endblock %}


