contact.html.twig{% extends 'RidwanSiteBundle:Welcome:index.html.twig' %}

{% block content %}


    <div style="background-color: dodgerblue">

        <header class="codrops-header">
            <h1>Personal Information<span>we like to know more about you</span></h1>
        </header>
        <p align="center"><a class="pageload-link" href="#page-2">Proceed</a></p>

        <br><br>
    </div>

{% endblock %}

