{% extends '::base.html.twig' %}
    {% block dashboard %}

        <div class="span2 main-menu-span">




            <div class="well nav-collapse sidebar-nav">
                <p align="center">
                    {%  if app.user.path %}
                        <img src="{{app.user.path}}" width="150px" height="150px" style="border: 2px">
                    {%  else  %}
                        <img src="{{ asset('bundles/ridwansite/images/default.jpg') }}" width="150px" height="150px" style="border: 2px">
                    {%  endif %}
                    <br><br><strong>{{app.session.get('name')}}</strong>
                </p>
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li class="nav-header hidden-tablet">Dashboard</li>
                    <li><a class="ajax-link" href=""><i class="icon-home"></i><span class="hidden-tablet"> Home</span></a></li>
                    <li><a class="ajax-link" href=""><i class="icon-edit"></i><span class="hidden-tablet"> Opportunities</span></a></li>
                    <li><a class="ajax-link" href=""><i class="icon-list-alt"></i><span class="hidden-tablet"> Assignments</span></a></li>
                    <li><a class="ajax-link" href=""><i class="icon-user"></i><span class="hidden-tablet"> Users</span></a></li>
                    <li><a class="ajax-link" href=""><i class="icon-eye-open"></i><span class="hidden-tablet"> Statistics</span></a></li>



                </ul>
            </div><!--/.well -->
        </div><!--/span-->
    {% endblock %}
{% block content %}

{% endblock %}


