{%  extends "::base.html.twig" %}

{% block dashboard %}
{% endblock %}
{% block content %}
<br><br><br><br><br><br>
<div class="alert alert-error center span8">
    
    <h3 style="color: darkred">Access Denied!</h3> <br><h6> you do not have permssion!</h6> <br>Please contact site admin.
</div>
<br>
<br><br><br><br><br><br>


{% endblock %}

