
    <h1>Education creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ridwan_education_index') }}">
            Back to the list
        </a>
    </li>
</ul>
