<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to NVS</title>
</head>

<body>
<p align="center">
           <img src="http://www.vsrilanka.lk/volma/web/bundles/ridwansite/images/Logo.jpg" width="60" height="60" align="right" style="margin:10px;">
           <br>
           <div style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:18px; color:#478730;">National Volunteer Hub | <span style="color:red;">Sri Lanka</span></div>
           <hr>
           <br>
           Welcome to NVS, {{name}}!<br>
           Your account is almost ready <br>
           <a href="{{activate}}" style="background-color:#448ccb;border-radius:4px;color:#ffffff;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:bold;line-height:50px;text-align:center;text-decoration:none;width:240px" target="_blank">Activate your account</a>
           

          
        
 
</p>
</body>
</html>